body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #555;
}

.top-bar {
  display: flex;
  align-items: center;
  width: 1100px; /* match canvas width */
  margin-bottom: 8px;
  position: relative;
}

.button-container {
  display: flex;
  gap: 15px;
  margin: 0 auto;
}

button, select {
  padding: 5px 18px;
  font-size: 18px;
  font-weight: bold;
  background-color: #dcf;
  color: #111;
  border: 2px solid black;
  border-radius: 4px;
}

select.hidden {
  display: none;
}

button {
  width: 150px;
  cursor: pointer;
  font-variant-caps: small-caps;
}

button:hover {
  background-color: #ceb5ff;
}

input {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

table {
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

td {
  color: #dcf;
  background-color: #121212;
  border: 2px solid grey;
  padding: 4px;
  min-height: 60px;
}

.hidden-cell {
  color: transparent;
  user-select: none;
}

.missed-cell {
  color: rgb(242, 208, 14);
}

td.selected-cell {
  background-color: #2a104f;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #dcf;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  width: 400px;
  display: none;
  font-family: Arial, sans-serif;
  font-variant-caps: small-caps;
  font-weight: bold;
}

.overlay.active {
  display: block;
}

.overlay .close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}

.overlay-bkgd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.4);
  display: none;
}

.overlay-bkgd.active {
  display: block;
}
